.tab
	absolute left 10px top 20px
	left 10px
	padding: 10px;
	color: #ccc

	.test
		color red

	background url(
		fromSVG('<svg width="17" height="10"><path d="M14.8465234,0.154589372 C14.6397833,-0.0515297907 14.3038306,-0.0515297907" /></svg>'
	)) no-repeat center center
	outline #ccc;
