.item2-title
	display flex
	align-items center
	height $p.item2Height
	padding-left $p.paddingLeft - $p.border[0]
	box-sizing border-box

	border $p.border
	border-width 0 $p.border[0]

	font-size 15px
	color $p.secondSlideTitleColor
